Flask==2.0.3
JPype1==1.2.1
JayDeBeApi==1.2.3
Jinja2==3.0.3
MarkupSafe==2.0.1
SQLAlchemy==1.4.48
Werkzeug==2.0.3
blinker==1.5
click==8.0.4
colorama==0.4.5
greenlet == 2.0.2
gunicorn==20.1.0
itsdangerous==2.0.1
numpy==1.19.1
packaging==21.3
pandas==1.1.5
psycopg2==2.9.5
python-dateutil==2.8.2
pytz==2023.3
setuptools==60.2.0
six ==1.16.0
typing-extensions==4.5.0
tzdata==2023.3
wheel==0.37.1
APScheduler == 3.10.1
tzlocal == 4.3
JayDeBeApi==1.2.3
python-dotenv==1.0.0
